In [ ]:
import pandas as pd
import matplotlib.pyplot as plt

In [ ]:
#Take a peak at our csv
!head health.csv

In [ ]:
df = pd.read_csv('health.csv')

In [ ]:
#Returns correlations between columns (-1 to 1)
df.corr()

In [ ]:
#Visualize data
df.plot()

In [ ]:
#Create scatter plot with a good relationship
df.plot(kind = 'scatter', x = 'Duration', y = 'Calories')

In [ ]:
#Create scatter plot with bad relationship
df.plot(kind = 'scatter', x = 'Duration', y = 'Maxpulse')

In [ ]:
#Create a histogram
df['Calories'].plot(kind = 'hist')

In [ ]:
#rows, columns
df.shape

In [ ]:
#metadata
df.info()

In [ ]:
#statistics of data frame and column
df.describe()
df['Pulse'].describe()

In [ ]:
df['Calories'].mean()
df['Calories'].median()
df['Calories'].mode()

In [ ]:
df['Calories'].plot(kind='box', vert=False, figsize=(14,6))

In [ ]:
df['Pulse'].plot(kind='density', figsize=(14,6))

In [ ]:
#display a density plot with the median and mean
ax = df['Calories'].plot(kind='density', figsize=(14,6))
ax.axvline(df['Calories'].mean(), color='red')
ax.axvline(df['Calories'].median(), color='green')

In [ ]:
corr = df.corr()

In [ ]:
#Create heat map matrix of correlation, Blue means high red means low
fig = plt.figure(figsize=(8,8))
plt.matshow(corr, cmap='RdBu', fignum=fig.number)
plt.xticks(range(len(corr.columns)), corr.columns, rotation='vertical');
plt.yticks(range(len(corr.columns)), corr.columns);

In [ ]:
#create new column that analyses relationship of 2 fields
df['Calories_Per_Minute'] = df['Calories'] / df['Duration']
df.head()

In [ ]:
#Plot new column in a density plot
df['Calories_Per_Minute'].plot(kind='density')

In [ ]:
#Plot new column in a histogram
df['Calories_Per_Minute'].plot(kind='hist')

In [ ]:
df = pd.read_csv('imdb_top_1000.csv')
df = df.drop(columns=['Poster_Link'])
df.to_csv('imdb_top_1000.csv', index=False)

In [ ]:
#unique value counts for column
df['Certificate'].value_counts()

#Plot the unique values in a pie chart
df['Certificate'].value_counts().plot(kind='pie', figsize=(6,6))

In [ ]:
df.corr()

In [ ]:
#Scatter plot of 2 columns with weak correlation
df.plot(kind='scatter', x='Meta_score', y='IMDB_Rating')

In [ ]:
df.loc[df['Calories'] >= 500]

In [ ]:
df.loc[(df['Pulse'] >= 90) & (df['Duration'] < 25)]

In [103]:
df = pd.read_csv('video_game_sales.csv')
df.head()

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37

In [109]:
df

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37
...,...,...,...,...,...,...,...,...,...,...,...
16593,16596,Woody Woodpecker in Crazy Castle 5,GBA,2002.0,Platform,Kemco,0.01,0.00,0.00,0.00,0.01
16594,16597,Men in Black II: Alien Escape,GC,2003.0,Shooter,Infogrames,0.01,0.00,0.00,0.00,0.01
16595,16598,SCORE International Baja 1000: The Official Game,PS2,2008.0,Racing,Activision,0.00,0.00,0.00,0.00,0.01
16596,16599,Know How 2,DS,2010.0,Puzzle,7G//AMES,0.00,0.01,0.00,0.00,0.01
16597,16600,Spirits & Spells,GBA,2003.0,Platform,Wanadoo,0.01,0.00,0.00,0.00,0.01

In [117]:
df['Genre'].value_counts()

Action          3316
Sports          2346
Misc            1739
Role-Playing    1488
Shooter         1310
Adventure       1286
Racing          1249
Platform         886
Simulation       867
Fighting         848
Strategy         681
Puzzle           582
Name: Genre, dtype: int64

In [124]:
df.head()

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37

In [129]:
print("Average Nintendo Global Sales: ", df.loc[(df['Publisher'] == 'Nintendo'), 'Global_Sales'].mean())

Average Nintendo Global Sales:  2.541337126600285

In [134]:
#number of records that match criteria
df.loc[(df['Platform'] == 'Wii') & (df['Genre'] == 'Sports')].shape[0]

261

In [138]:
#Top ten game publishers
df['Publisher'].value_counts().head(10)

Electronic Arts                 1351
Activision                       975
Namco Bandai Games               932
Ubisoft                          921
Konami Digital Entertainment     832
THQ                              715
Nintendo                         703
Sony Computer Entertainment      683
Sega                             639
Take-Two Interactive             413
Name: Publisher, dtype: int64