In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv('imdb_top_1000.csv')

In [ ]:
#define first column
first_column = df.columns[0]

#drop first column or specific column
df = df.drop([first_column], axis=1) 
#df = df.drop(columns=['Series_Poster'])

#recreate current csv
df.to_csv('imdb_top_1000.csv', index=False)

#create new csv
df.to_csv('imdb_top_films')

#convert to excel
df.to_excel('imdb_top_films.xlsx')

In [ ]:
#top 3 rows
print(df.head(3))

#bottom 3 rows
print(df.tail(3))

In [ ]:
#print a specific datum using row, column
print(df.iloc[2,1]) #date of file 3
print(df.iloc[233,4]) #Genre of film 234
print(df.iloc[389,0]) #Title of filme 390

In [ ]:
#Read headers
df.columns

##Read each column individually or together
df.Series_Title, df.Director

In [ ]:
#Iterate through all rows
for index, row in df.iterrows():
    print(index, row['Series_Title'])

In [ ]:
#Movies released in 2000s and later
df.loc[df['Released_Year']  > '1999']

In [ ]:
#Statistics
df.describe()

In [ ]:
#Sort data, ascending and descending
df.sort_values('Released_Year')
df.sort_values('Released_Year', ascending=False)
df.sort_values(['Released_Year', 'Series_Title'])

In [ ]:
#New dataframe with filtered criteria
new_df = df.loc[(df['Released_Year'] =='1990') & (df['Runtime'] >'120')]
new_df

In [61]:
#Read all data with "The" in title
df.loc[df['Series_Title'].str.contains('The')]

#Use ~ to work as NOT
df.loc[~df['Series_Title'].str.contains('The')]

,Series_Title,Released_Year,Certificate,Runtime,Genre,IMDB_Rating,Overview,Meta_score,Director,Star1,Star2,Star3,Star4,No_of_Votes,Gross
0,The Shawshank Redemption,1994,A,142 min,Drama,9.3,Two imprisoned men bond over a number of years...,80.0,Frank Darabont,Tim Robbins,Morgan Freeman,Bob Gunton,William Sadler,2343110,"28,341,469"
1,The Godfather,1972,A,175 min,"Crime, Drama",9.2,An organized crime dynasty's aging patriarch t...,100.0,Francis Ford Coppola,Marlon Brando,Al Pacino,James Caan,Diane Keaton,1620367,"134,966,411"
2,The Dark Knight,2008,UA,152 min,"Action, Crime, Drama",9.0,When the menace known as the Joker wreaks havo...,84.0,Christopher Nolan,Christian Bale,Heath Ledger,Aaron Eckhart,Michael Caine,2303232,"534,858,444"
3,The Godfather: Part II,1974,A,202 min,"Crime, Drama",9.0,The early life and career of Vito Corleone in ...,90.0,Francis Ford Coppola,Al Pacino,Robert De Niro,Robert Duvall,Diane Keaton,1129952,"57,300,000"
5,The Lord of the Rings: The Return of the King,2003,U,201 min,"Action, Adventure, Drama",8.9,Gandalf and Aragorn lead the World of Men agai...,94.0,Peter Jackson,Elijah Wood,Viggo Mortensen,Ian McKellen,Orlando Bloom,1642758,"377,845,905"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
983,The Warriors,1979,UA,92 min,"Action, Crime, Thriller",7.6,"In the near future, a charismatic leader summo...",65.0,Walter Hill,Michael Beck,James Remar,Dorsey Wright,Brian Tyler,93878,"22,490,039"
984,The Muppet Movie,1979,U,95 min,"Adventure, Comedy, Family",7.6,Kermit and his newfound friends trek across Am...,74.0,James Frawley,Jim Henson,Frank Oz,Jerry Nelson,Richard Hunt,32802,"76,657,000"
989,The Long Goodbye,1973,A,112 min,"Comedy, Crime, Drama",7.6,Private investigator Philip Marlowe helps a fr...,87.0,Robert Altman,Elliott Gould,Nina van Pallandt,Sterling Hayden,Mark Rydell,26337,"959,000"
992,The Jungle Book,1967,U,78 min,"Animation, Adventure, Family",7.6,Bagheera the Panther and Baloo the Bear have a...,65.0,Wolfgang Reitherman,Phil Harris,Sebastian Cabot,Louis Prima,Bruce Reitherman,166409,"141,843,612"
999,The 39 Steps,1935,NaN,86 min,"Crime, Mystery, Thriller",7.6,A man in London tries to help a counter-espion...,93.0,Alfred Hitchcock,Robert Donat,Madeleine Carroll,Lucie Mannheim,Godfrey Tearle,51853,NaN