In [ ]:
import pandas as pd

In [61]:
#Create data frame
mydataset = {
  'Medals': ["Gold", "Silver", "Bronze", "Copper"],
  'Place': [1, 2, 3, 4]
}

mydataframe = pd.DataFrame(mydataset)
mydataframe

   Medals  Place
0    Gold      1
1  Silver      2
2  Bronze      3
3  Copper      4

In [65]:
#Series: a one-dimensional array in a table
a = [1, 6, 26, 53, 284]
a

1

In [67]:
#print specific values in the series
a[0]
a[3]

53

In [69]:
#Create labels
myvar = pd.Series(a, index = ["v", "w", "x", "y", "z"])
myvar

v      1
w      6
x     26
y     53
z    284
dtype: int64

In [70]:
#Access specific value based on indices
myvar["y"]

53

In [72]:
calorie_intake = {"day1": 420, "day2": 380, "day3": 390}
cals = pd.Series(calorie_intake)
cals

day1    420
day2    380
day3    390
dtype: int64

In [ ]:
df = pd.read_csv('imdb_top_1000.csv')

In [ ]:
#define first column
first_column = df.columns[0]

#drop first column or specific column
#df = df.drop([first_column], axis=1) 
#df = df.drop(columns=['Series_Poster'])

#recreate current csv
df.to_csv('imdb_top_1000.csv', index=False)

#create new csv
df.to_csv('imdb_top_films')

#convert to excel
df.to_excel('imdb_top_films.xlsx')

In [ ]:
#top 3 rows
print(df.head(3))

#bottom 3 rows
print(df.tail(3))

In [ ]:
#print a specific datum using row, column
print(df.iloc[2,1]) #date of file 3
print(df.iloc[233,4]) #Genre of film 234
print(df.iloc[389,0]) #Title of filme 390

In [ ]:
#Read headers
df.columns

##Read each column individually or together
df.Series_Title, df.Director

In [ ]:
#Iterate through all rows
for index, row in df.iterrows():
    print(index, row['Series_Title'])

In [ ]:
#Movies released in 2000s and later
df.loc[df['Released_Year']  > '1999']

In [ ]:
#Statistics
df.describe()

In [ ]:
#Sort data, ascending and descending
df.sort_values('Released_Year')
df.sort_values('Released_Year', ascending=False)
df.sort_values(['Released_Year', 'Series_Title'])

In [ ]:
#New dataframe with filtered criteria
new_df = df.loc[(df['Released_Year'] =='1990') & (df['Runtime'] >'120')]
new_df

In [ ]:
#Read all data with "The" in title
df.loc[df['Series_Title'].str.contains('The')]

#Use ~ to work as NOT
df.loc[~df['Series_Title'].str.contains('The')]

In [ ]:
#using regex to get only RomCom films
import re
df.loc[df['Genre'].str.contains('Comedy|Romance', regex=True)]

#flags parameter will specify to ignore case
df.loc[df['Genre'].str.contains('comedy|romance', flags=re.I, regex=True)]

In [ ]:
#using regex to get only films that start with "The" 
df.loc[df['Series_Title'].str.contains('^The[a-z]*', flags=re.I, regex=True)]

In [ ]:
#Group by functions
#df.groupby(['Certificate']).mean().sort_values('IMDB_Rating', ascending=False)

df.groupby(['Certificate']).count()
df.groupby(['Released_Year']).count().sort_values('Released_Year', ascending=False)

In [ ]:
#Working with large data sets, compartment
for df in pd.read_csv('imdb_top_1000.csv', chunksize=5):
    print("Beginning of Chunk")
    print(df)
    print("End of Chunk\n")